@model PresentationLayer.Models.DayOverview

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<h2>Dashboard</h2>
  <p>KPI information from Monday </p>


@Html.Partial("_DashboardNavigation")

<div class="container">

    <h2>@Model.Day - @Model.Date.ToShortDateString()</h2>

    <div class="content-wrapper col-md-6">
        @(Model.DayChart)
    </div>

    <div class="panel panel-info pull-right">
        <div class="panel-heading">Rates</div>
        <div class="panel-body bg-info">
            <p>Frequency: </p> <strong> @Model.Frequency </strong>
            <p>Occupancy: </p> <strong> @Model.Occupancy </strong>
            <p>Utilisation: </p> <strong> @Model.Utilisation </strong>

        </div>
    </div>

<div class="panel-group col-md-12" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        9am time slot</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        @Html.Partial("_slot", Model)
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        10am time slot</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        11am time slot</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div>

</div>