@model PresentationLayer.Models.DayOverview

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

@Html.Partial("_DashboardNavigation", Model.DateInformation)

<div class="container-fluid">
  <div class="row content">
    
    <div class="col-sm-13">
      <div class="well" style="border-left-width:10px; border-left-color:purple">
        <h4 style="color:purple">Week view</h4>
        <p>KPI infomration from <strong style="color:purple">@Model.Day - @Model.Date.ToString("MMMM dd, yyyy")</strong></p>
      </div>
      <div class="row">
        <div class="col-sm-6">
            @(Model.DayChart)
        </div>
        <div class="col-sm-3">
          <div class="well" style="border-left-width:10px; border-left-color:aqua">
            <h4 style="color:aqua">FREQUENCY</h4>
            <p>Average frequency rate for the week was <strong style="color:aqua">@Model.Frequency</strong></p> 
            <p>Frequency rate: percentage of ime space is used compared to it's availability</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well" style="border-left-width:10px; border-left-color:deeppink">
            <h4 style="color:deeppink">OCCUPANY</h4>
            <p>Average occupancy rate for the week was <strong style="color:deeppink">@Model.Occupancy</strong></p> 
            <p>Occupancy rate: how full the space is compared to it's capacity, only calculated for when the resource is in use</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well" style="border-left-width:10px; border-left-color:darkorange">
            <h4 style="color:darkorange">UTILISATION</h4>
            <p>Average utilisation rate for the week was <strong style="color:darkorange">@Model.Utilisation</strong></p> 
            <p>Utilisation rate: Frequency rate * Occupancy rate</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>