@model PresentationLayer.Models.ResourceViewModel

@{
    ViewBag.Title = "ResourceInfo";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}


<h2>Resource Info</h2>

<body>
    <fieldset>
        <legend>ResourceViewModel</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Frequency)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Frequency)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Occupancy)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Occupancy)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Utilisation)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Utilisation)
        </div>
    </fieldset>

    <table class="table table-hover">
    <tr>
        <th>
            Time
        </th>
        <th>
            Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
            Thursday
        </th>
        <th>
            Friday
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Table)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.Time)
            </td>
            <td>
                @if(item.MondayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.MondayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.MondayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.MondayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.TuesdayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.TuesdayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.MondayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.WednesdayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.WednesdayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.MondayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.ThursdayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.ThursdayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.MondayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.FridayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.FridayRates.NumberOfAttendees)
                }
            </td>
        </tr>
    }
    </table>
</body>

