@model PresentationLayer.Models.ResourceOverview

@{
    ViewBag.Title = "ResourceInfo";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

@Html.Partial("_DashboardNavigation", Model.DateInformation)

      <div class="row">
        <div class="col-sm-3">
          <div class="well" style="border-left-width:10px; border-left-color:greenyellow; background-color:white" >
            <h4 style="color:greenyellow">INFORMATION</h4>
            <p><strong style="color:greenyellow">@Model.Resource.Name</strong> - @Model.Resource.Description
            Capacity for @Model.Resource.Capacity people</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well" style="border-left-width:10px; border-left-color:aqua">
            <h4 style="color:aqua">FREQUENCY</h4>
            <p>Average frequency rate for the week was <strong style="color:aqua">@Model.Frequency</strong></p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well" style="border-left-width:10px; border-left-color:deeppink">
            <h4 style="color:deeppink">OCCUPANY</h4>
            <p>Average occupancy rate for the week was <strong style="color:deeppink">@Model.Occupancy</strong></p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well" style="border-left-width:10px; border-left-color:darkorange">
            <h4 style="color:darkorange">UTILISATION</h4>
            <p>Average utilisation rate for the week was <strong style="color:darkorange">@Model.Utilisation</strong></p> 
          </div>
        </div>
      </div>

<body>

    <table class="table table-hover">
    <tr>
        <th>
            Time
        </th>
        <th>
            Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
            Thursday
        </th>
        <th>
            Friday
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Table)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.Time)
            </td>
            <td>
                @if(item.MondayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.MondayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.MondayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.TuesdayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.TuesdayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.TuesdayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.WednesdayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.WednesdayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.WednesdayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.ThursdayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.ThursdayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.ThursdayRates.NumberOfAttendees)
                }
            </td>
            <td>
                @if(item.FridayRates == null)
                {
                    <p class="text-danger">NOT UTILISED</p>
                }
                else
                {
                    <p>Booked by: </p> @Html.DisplayFor(modelItem => item.FridayRates.BookedBy.Forename)
                    <p>Number of attendees: </p> @Html.DisplayFor(modelItem => item.FridayRates.NumberOfAttendees)
                }
            </td>
        </tr>
    }
    </table>
</body>

