@model PresentationLayer.Models.ResourceViewModel

@{
    ViewBag.Title = "ResourceInfo";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}


<h2>Resource Info</h2>

<body>
    <fieldset>
        <legend>ResourceViewModel</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Frequency)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Frequency)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Occupancy)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Occupancy)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Utilisation)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Utilisation)
        </div>
    </fieldset>

    <table class="table table-hover">
    <tr>
        <th>
            Time
        </th>
        <th>
            Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
            Thursday
        </th>
        <th>
            Friday
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Table)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.Time)
            </td>
            <td>
                Booked by: @Html.DisplayFor(modelItem => item.MondayRates.BookedBy.Forename)
                Number of attendees: @Html.DisplayFor(modelItem => item.MondayRates.NumberOfAttendees)
            </td>
            <td>
                Booked by: @Html.DisplayFor(modelItem => item.MondayRates.BookedBy.Forename)
                Number of attendees: @Html.DisplayFor(modelItem => item.MondayRates.NumberOfAttendees)
            </td>
            <td>
                Booked by: @Html.DisplayFor(modelItem => item.MondayRates.BookedBy.Forename)
                Number of attendees: @Html.DisplayFor(modelItem => item.MondayRates.NumberOfAttendees)
            </td>
            <td>
                Booked by: @Html.DisplayFor(modelItem => item.MondayRates.BookedBy.Forename)
                Number of attendees: @Html.DisplayFor(modelItem => item.MondayRates.NumberOfAttendees)
            </td>
            <td>
                Booked by: @Html.DisplayFor(modelItem => item.MondayRates.BookedBy.Forename)
                Number of attendees: @Html.DisplayFor(modelItem => item.MondayRates.NumberOfAttendees)
            </td>
        </tr>
    }
    </table>
</body>

