@model PresentationLayer.Models.WeekOverview

@{
	ViewBag.Title = "Test";
	Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<h2>Dashboard</h2>

@Html.Partial("_DashboardNavigation")

<div class="container-fluid">
  <div class="row content">
	
	<div class="col-sm-13">
	  <div class="well" style="border-left-width:10px; border-left-color:purple">
		<h4 style="color:purple">Week view</h4>
		<p>KPI infomration from Monday @Model.StartDate to Friday @Model.EndDate</p>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
			@(Model.Chart)
		</div>
		<div class="col-sm-3">
		  <div class="well" style="border-left-width:10px; border-left-color:aqua">
			<h4 style="color:aqua">Frequency</h4>
			<p>100 Million</p> 
		  </div>
		</div>
		<div class="col-sm-3">
		  <div class="well" style="border-left-width:10px; border-left-color:deeppink">
			<h4 style="color:deeppink">Occupancy</h4>
			<p>10 Million</p> 
		  </div>
		</div>
		<div class="col-sm-3">
		  <div class="well" style="border-left-width:10px; border-left-color:darkorange">
			<h4 style="color:darkorange">Utilisation</h4>
			<p>30%</p> 
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-4">
		  <div class="well">
			<p>Text</p> 
			<p>Text</p> 
			<p>Text</p> 
		  </div>
		</div>
		<div class="col-sm-4">
		  <div class="well">
			<p>Text</p> 
			<p>Text</p> 
			<p>Text</p> 
		  </div>
		</div>
		<div class="col-sm-4">
		  <div class="well">
			<div class="panel panel-info pull-right">
				<div class="panel-heading"><strong>Rates for this week:</strong></div>
				<div class="panel-body bg-info">
					@foreach (string message in ViewBag.Message)
					{
						<p>@message</p>
						<br />
					}

				</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-9">
			@Html.Partial("_resourceOverview", Model) 
		</div>
		<div class="col-sm-3">
		  <div class="well">
			<p>Search for the resources</p> 
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>