@model PresentationLayer.Models.ChartViewModel

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<h2>Dashboard</h2>

<ul class="nav nav-pills">
  <li class="active"><a href="#overview">Overview</a></li>
  <li><a href="#">Monday</a></li>
  <li><a href="#">Tuesday</a></li>
  <li><a href="#">Wednesday</a></li>
  <li><a href="#">Thursday</a></li>
  <li><a href="#">Friday</a></li>
  <li><a href="#">Time slots</a></li>
</ul>

<div id="overview">
    <br />
    @Html.Partial("_overview", Model)
</div>

<br />

<div class="panel-group col-md-9" style="padding-top:20px">
  <div class="panel">
    <div class="panel-heading" style="background-color: lightblue">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#RESOURCE">RESOURCE DATA</a>
      </h4>
    </div>
    <div id="RESOURCE" class="panel-collapse collapse">
      <div class="panel-body bg-info">
          <table class="table table-hover">
            <tr>
                <th>
                    Resource
                </th>
                <th>
                    Description
                </th>
                <th>
                    Uitilisation rate
                </th>
                <th>
                    Frequency rate
                </th>
                <th>
                    Occupancy rate
                </th>
                <th></th>
            </tr>
        @foreach (var item in Model.Resources) {
            <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupancy)
        </td>
        <td>
            
                <button type="button" class="btn btn-primary">
                    @Html.ActionLink("More info", "ResourceInfo", new { resourceId = item.Resource.ResourceId })
                </button>
        </td>
    </tr>
}

</table>
      </div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>




