@{
    var username = "";
}
@if (Session.IsNewSession == false)
{
    if (@Session["AuthID"].ToString() != null)
    {
        username = Session["Username"].ToString();
    }
}

<nav class="navbar navbar-default" style="padding:0px;margin:0px;background:#337ab7">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand" style="letter-spacing:10px;color:white">RE-AGILE</h1>
    </div>
    <ul class="nav navbar-nav navbar-right">
        @if (!@username.Equals(""))
            
            { 
                <li style="color:white;padding:30px"><span class="glyphicon glyphicon-user" style="color:white"></span> Hello, @username</li>
                <li style="padding:30px">
                  <span class="glyphicon glyphicon-log-out" style="color:white">@Html.ActionLink("Log out", "LogOff", "Account", new { Style= "color:white;font-family:Arial, sans-serif" })</span>
                </li>
            } else {
              <li><span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
              <li><span class="glyphicon glyphicon-log-in"></span>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
    </ul>
  </div>
</nav>
