@model PresentationLayer.Models.Team

@{
    ViewBag.Title = "Add users as members of " + Model.Name;
}

<h2>Potential members for @Model.Name</h2>

@if (Model.PotentialMembers.Count() == 0)
{
    <div class="alert alert-info">
        <strong>No users available! </strong> 
        <p>All existing users are already a member of team @Model.Name</p>
    </div>

}
else
{
    <table class="table table-hover">
        <tr>
            <th>
                Employee number
            </th>
            <th>
                Forename
            </th>
            <th>
                Surname
            </th>
            <th>
                Job title
            </th>
            <th></th>

            <th></th>
        </tr>

        @foreach (var item in Model.PotentialMembers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Forename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="teamId" value="@Model.TeamId" />
                        <input type="hidden" name="userId" value="@item.UserId" />

                        <button type="submit" class="btn btn-success">Add member</button>
                    </form>
                </td>
                <td></td>
            </tr>
        }
    </table>
}

<button type="button" class="btn btn-default">
    @Html.ActionLink("Back to List", "Index")
</button>