@model IEnumerable<PresentationLayer.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<h2>Employees</h2>

<button type="button" class="btn btn-info">    
    @Html.ActionLink("Add new employee", "Create")
</button>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { userId=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { userId=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { userId=item.UserId })
        </td>
    </tr>
}

</table>
