@model PresentationLayer.Models.Resource

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete resource @Model.Name?</h3>

<div class="container">
    <form>
        <div class="form-group">
            <label class="control-label col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </label>
            <div class="col-sm-10">
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Name)
            </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </label>
            <div class="col-sm-10">
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Description)
            </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </label>
            <div class="col-sm-10">
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Category)
            </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">
                @Html.DisplayNameFor(model => model.Capacity)
            </label>
            <div class="col-sm-10">
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Capacity)
            </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </label>
            <div class="col-sm-10">
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Location)
            </p>
            </div>
        </div>
    </form>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-default">
        @Html.ActionLink("Back to List", "Index")
    </button>
}
