@model PresentationLayer.Models.CreateBooking

<h3>Add a booking for one time slot</h3>

@using (Ajax.BeginForm("RetrieveAvailableResources", "Booking", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace, 
        UpdateTargetId = "resources",
    }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SingleBooking.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SingleBooking.Date)
            @Html.ValidationMessageFor(model => model.SingleBooking.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slots)
        </div>
        <div class="editor-field">
       bookingcontroller     @Html.DropDownList("SingleBooking.Slot",
                       new SelectList(Model.Slots, "SlotId", "Time"))
            @Html.ValidationMessageFor(model => model.Slots)
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Filter</button>

    </fieldset>
}

    @*List of resources available*@
        <div id="resources">
        @Html.Partial("_resources")
        </div>

