@model PresentationLayer.Models.CreateBooking

@if(Model.Resources.Count > 0)
{
<div class="alert-success col-sm-10" style="padding:20px">
    <h3 style="color:black">@ViewBag.Message</h3>
</div>
        
<div class="col-md-10">      
    <table class="table table-hover table-responsive bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resources.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources.First().Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources.First().Location)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.Resources) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @using(Html.BeginForm("BookBlock", "Booking", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.BlockBooking.StartDate)
                    @Html.HiddenFor(m => m.BlockBooking.EndDate)
                    @Html.HiddenFor(m => m.BlockBooking.StartSlot)
                    @Html.HiddenFor(m => m.BlockBooking.EndSlot)
                    @Html.Hidden("Resource", item.ResourceId)
                
                    <button type="submit" class="btn btn-success">Book</button>
                }
            </td>
        </tr>
        }
    </table>
</div>
}