@model PresentationLayer.Models.CreateBooking

@{
    ViewBag.Title = "Create";
}

<h3>Add a booking that covers multiple days and time slots</h3>

@using (Ajax.BeginForm("RetrieveAvailableResourcesForBlockBooking", "Booking", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "blockResources",
    }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BlockBooking.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlockBooking.StartDate)
            @Html.ValidationMessageFor(model => model.BlockBooking.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BlockBooking.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlockBooking.EndDate)
            @Html.ValidationMessageFor(model => model.BlockBooking.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BlockBooking.StartSlot)
        </div>
        <div class="editor-field">
            @Html.DropDownList("BlockBooking.StartSlot",
                       new SelectList(Model.Slots, "SlotId", "Time"))
            @Html.ValidationMessageFor(model => model.Slots)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BlockBooking.EndSlot)
        </div>
        <div class="editor-field">
            @Html.DropDownList("BlockBooking.EndSlot",
                       new SelectList(Model.Slots, "SlotId", "Time"))
            @Html.ValidationMessageFor(model => model.Slots)
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Filter</button>

    </fieldset>
}

    @*List of resources available*@
        <div id="blockResources"></div>
        @Html.Partial("_blockResources")
