@model PresentationLayer.Models.CreateBooking

 @*List of people to add to booking*@
    @if (Model.GroupBooking.Attendees.Count() == 0)
    {
        <p>No resources found, please enter serach criteria.</p>
    }
    else
    {
        <h2>Add details button for each team showing all members of it </h2>

        <h2>Add details button for each user showing their current resource schedule </h2>
        <table>
    <tr>
        <th>
            Employee number
        </th>
        <th>
            Forename
        </th>
        <th>
            Surname
        </th>
        <th>
            Job title
        </th>
        <th>
            Select
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.GroupBooking.Attendees)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.Checked)
        </td>
        @*<td>
            @using(Html.BeginForm("Book", "Booking", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.SingleBooking.Date)
                @Html.HiddenFor(m => m.SingleBooking.Slot)
                @Html.Hidden("Resource", item.ResourceId)
                
                <input type="submit" value="Book" />
            }
        </td>*@
    </tr>
    }
</table>
}