@model PresentationLayer.Models.CreateBooking

@*List of teams to add to booking*@
@if (Model.GroupBooking.Teams.Count() == 0)
{
    <p>No resources found, please enter search criteria.</p>
}
else
{
    <h2>@ViewBag.Message</h2>
    <table class="table table-hover">
        <tr>
            <th>Team
            </th>
            <th>Members
            </th>
            <th>Select
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.GroupBooking.Teams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Members.Count)
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                               name="GroupBooking.SelectedTeams"
                               value="@item.TeamId" />
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-info">
                        @Html.ActionLink("Details", "TeamDetails", new {teamId = item.TeamId}, new {target="_blank"})
                    </button>
                </td>
            </tr>
        }
    </table>
}