@model PresentationLayer.Models.CreateBooking

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupBooking.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupBooking.Date)
            @Html.ValidationMessageFor(model => model.GroupBooking.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupBooking.StartTime)
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupBooking.StartTime",
                       new SelectList(Model.Slots, "SlotId", "Time"))
            @Html.ValidationMessageFor(model => model.Slots)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupBooking.EndTime)
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupBooking.EndTime",
                       new SelectList(Model.Slots, "SlotId", "Time"))
            @Html.ValidationMessageFor(model => model.Slots)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupBooking.Capacity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupBooking.Capacity)
            @Html.ValidationMessageFor(model => model.GroupBooking.Capacity)
        </div>
        
        <br />
        <button type="submit" class="btn btn-primary">Filter</button>

    </fieldset>