@model PresentationLayer.Models.UpdateBooking

@{
    ViewBag.Title = "AddAttendee";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<h2>Add attendee</h2>

    <table class="table table-hover">
                <tr>
                    <th>
                        Employee number
                    </th>
                    <th>
                        Forename
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Job title
                    </th>
                    <th>
                        Add?
                    </th>
                </tr>

    @foreach (var item in Model.PotentialAttendees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="bookingId" value="@Model.Booking.BookingId" />
                    <input type="hidden" name="userId" value="@item.UserId" />

                    <button type="submit" class="btn btn-success">Add attendee</button>
                </form>
            </td>
        </tr>
        }
</table>

