@model PresentationLayer.Models.UpdateBooking

@{
    ViewBag.Title = "AddAttendee";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<h2>Add attendee</h2>

    <table class="table table-hover">
                <tr>
                    <th>
                        Employee number
                    </th>
                    <th>
                        Forename
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Job title
                    </th>
                    <th>
                        Add?
                    </th>
                </tr>

    @foreach (var item in Model.PotentialAttendees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                               name="SelectedAttendees"
                               value="@item.UserId" />
                        </label>
                    </div>
            </td>
        </tr>
        }
</table>
    
    @using (Html.BeginForm("AddAttendee", "Booking", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Booking)
                    for (int i = 0; i < Model.SelectedAttendees.Count(); i++)
                    { 
                        @Html.HiddenFor(model => Model.SelectedAttendees[i]) 
                    }
                    
                <button type="submit" value="Update" class="btn btn-success">Book</button>
                }

