@model PresentationLayer.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Resources)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Resources)
            @Html.ValidationMessageFor(model => model.Resources)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slot)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Slot,
                       new SelectList(Model.Slots, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.Slot)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Capacity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacity)
            @Html.ValidationMessageFor(model => model.Capacity)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
