@model PresentationLayer.Models.Timetable

@{
    ViewBag.Title = "Timetable";
}

<h2>Resource allocation</h2>

<button type="button" class="btn btn-info">
    @Html.ActionLink("Create new booking", "Create")
</button>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimetableEntries.First().Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimetableEntries.First().MondayResource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimetableEntries.First().TuesdayResource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimetableEntries.First().WednesdayResource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimetableEntries.First().ThursdayResource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimetableEntries.First().FridayResource)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.TimetableEntries)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.MondayResource)*@
            @Html.ActionLink(item.MondayResource.TimetableDisplay, "ActionName", new { bookingId = item.MondayResource.BookingId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuesdayResource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WednesdayResource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThursdayResource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FridayResource)
        </td>
    </tr>
}

</table>


@if (Model.UnconfirmedEntries.Count() > 0)
{
    
<h2>Please confirm or delete the following unconfrimed bookings</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnconfirmedEntries.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnconfirmedEntries.First().StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnconfirmedEntries.First().Resource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnconfirmedEntries.First().BookedBy)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.UnconfirmedEntries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedBy)
            </td>
            <td>
                    @Html.HiddenFor(modelItem => item.Date)
                    @Html.HiddenFor(modelItem => item.Slot)
                    @Html.HiddenFor(modelItem => item.Resource)
                    @Html.HiddenFor(modelItem => item.Creator)
                    <button type="button" class="btn btn-success">
                        @Html.ActionLink("Confirm", "ConfirmGroupBooking", new { unconfirmedBookingId = item.UnconfirmedBookingId})
                    </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">
                    @Html.ActionLink("Remove", "Delete")
                </button>
            </td>
        </tr>
    }

</table>
}
