@model PresentationLayer.Models.Slot

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<h2>Edit time slot</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Slot</legend>

        @Html.HiddenFor(model => model.SlotId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Time)
            @Html.ValidationMessageFor(model => model.Time)
        </div>
    </fieldset>
    
    <br>

    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-default">
        @Html.ActionLink("Back to List", "Index")
    </button>
}


