@model IEnumerable<PresentationLayer.Models.Slot>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}


<h2>Time slots</h2>

<button type="button" class="btn btn-primary">    
    @Html.ActionLink("Add new time slot", "Create")
</button>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { slotId=item.SlotId }) |
            @Html.ActionLink("Details", "Details", new { slotId=item.SlotId }) |
            @Html.ActionLink("Delete", "Delete", new { slotId=item.SlotId })
        </td>
    </tr>
}

</table>
