@{
    ViewBag.Title = "_AdminNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftMenu
{
<body>
        <header>
            <div class="col-md-2">
              <ul id="sidebar" class="nav nav-pills nav-stacked affix">
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                  <li class="dropdown @(ViewContext.RouteData.Values["Controller"].ToString() == "Chart" ? "active" : "")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dashboard
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>@Html.ActionLink("This week", "WeekChart", "Chart")</li>
                      <li><a href="#">Next week</a></li>
                      <li><a href="#">Last week</a></li>
                      <li><a href="#">Month</a></li>  
                    </ul>
                  </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Resource" ? "active" : "")">@Html.ActionLink("Resources", "Index", "Resource")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Team" ? "active" : "")">@Html.ActionLink("Teams", "Index", "Team")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Employee" ? "active" : "")">@Html.ActionLink("Employees", "Index", "Employee")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Slot" ? "active" : "")">@Html.ActionLink("Time slots", "Index", "Slot")</li>
              </ul>
            </div>
        </header>
    @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
</body>
}


