@model PresentationLayer.Models.LoginModel


    <div class="container col-sm-4" style="margin-left:100px">
    <hgroup class="title" style="padding-top:40px;padding-bottom:20px">
        <h1>Log in</h1>
    </hgroup>

    <form method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group row-xs-3">
            @Html.LabelFor(m => m.Email)
            <div class="col-xs-16">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group row-xs-6">
            @Html.LabelFor(m => m.Password)
            <div class="col-xs-16">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </div>

        <button type="submit" class="btn btn-primary" style="font-size:large">Log in</button>

    </form>
        
    <br />

    </div>

<section class="social" style="padding-top:60px;float:left">

    <div class="col-sm-5">
          <div class="well text-center" style="background:#337ab7">
            <h1 style="color:white">New user?</h1>
            <h4 style="color:white">Create an account to book resources and view your allocation timetable</h4>
            <button type="button" class="btn btn-info">
                    @Html.ActionLink("REGISTER", "Register", "Account", new { Style = "color:white;align-content:center;font-size:large"})
            </button>
          </div>
    </div>
</section>
